@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-playfair: var(--font-playfair);
  --font-oswald: var(--font-oswald);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-plus-jakarta), sans-serif;

  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface);
  --color-surface-highlight: var(--surface-highlight);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
}

:root {
  --background: #08070b;
  --foreground: #f7f8f8;
  --surface: #08070b;
  --surface-highlight: #15141a;
  --text-main: #f7f8f8;
  --text-secondary: #8a8f98;
  --text-muted: #5e6168;
  --border: rgba(255, 255, 255, 0.06);
  --primary: #5e6ad2;
  --primary-hover: #4f5bc6;
  --radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  * {
    border-color: var(--border);
  }
}
